@import "tailwindcss";

@layer base {
  :root {
    /* --- Light Mode Colors --- */
  --background: #e4e4e7;      /* zinc-200 (Primary) */
  --foreground: #18181b;      /* zinc-900 */
  --card: #ffffff;            /* white    (Secondary) */
  --border: #d4d4d8;          /* zinc-300 */

  /* --- Dark Mode Colors --- */
  --background-dark: #18181b; /* zinc-900 (Primary Dark) */
  --foreground-dark: #fafafa; /* zinc-50  */
  --card-dark: #27272a;       /* zinc-800 (Secondary Dark) */
  --border-dark: #3f3f46;     /* zinc-700 */
  }
}

@theme {
  /* This creates the utility classes (bg-primary, text-text-main, etc.) */
  /* Because these point to the variables above, they update automatically */
  --color-primary: var(--background);
  --color-secondary: var(--card);
  --color-text-main: var(--foreground);
  --color-border-main: var(--border);
  --color-primary-dark: var(--background-dark);
  --color-secondary-dark: var(--card-dark);
  --color-text-main-dark: var(--foreground-dark);
  --color-border-main-dark: var(--border-dark);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}